{% extends "base.html" %}
{% block title %}Book Requests{% endblock%}
{%block content %}
<div >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashed-messages">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
    <div class="container mt-5">
    <h2>Book Request</h2>
    <div class="list-group">
            

        {% for user_id, details in user_details.items() %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                <p>
                    Name : {{ details.name }} - {{ details.surname }} --- Email : {{ details.email }} --- Phone Number : {{details.phone_number}} 
                </p>
                <form action="{{ url_for('owner.delete_book_request',req_id=details.req_id) }}" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        {% else %}
            <p class="list-group-item">No requests found.</p>
        {% endfor %}
    </div>
</div>

{% endblock %}



            

