{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="container">
        <h2>Register</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="owner_name">Name</label>
                {{ form.owner_name(class="form-control", id="owner_name", placeholder="Enter your name") }}
                {% if form.owner_name.errors %}
                    {% for error in form.owner_name.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="owner_surname">Surename</label>
                {{ form.owner_surename(class="form-control", id="owner_surename", placeholder="Enter your surname") }}
                {% if form.owner_surename.errors %}
                    {% for error in form.owner_surename.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="owner_phone_number">Phone Number</label>
                {{ form.owner_phone_number(class="form-control", id="owner_phone_number", placeholder="Enter your phone number") }}
                {% if form.owner_phone_number.errors %}
                    {% for error in form.owner_phone_number.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {{ form.email(class="form-control", id="email", placeholder="Enter your email") }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                {{ form.password(class="form-control", id="password", placeholder="Enter a password") }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                {{ form.confirm_password(class="form-control", id="confirm_password", placeholder="Confirm your password") }}
                {% if form.confirm_password.errors %}
                    {% for error in form.confirm_password.errors %}
                        <small class="form-text text-danger">{{ error }}</small>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
