{% extends "base.html " %}
{% block title %}Home {% endblock %}
{% block content %}
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #052b41; margin: 0; padding: 0;">
    <header style="background-color: #052b41; color: #fff; text-align: center; padding: 20px 0;">
        <h2 style="margin: 0;">Welcome to Dormitory Finder</h2>
    </header>
    <div style="width: 100%; margin: auto; overflow: hidden; background: white; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);">
        <p style="margin-bottom: 20px;">Welcome to Dormitory Finder, your one-stop destination for finding the perfect student accommodation in Turkey! With Dormitory Finder, you can dive into all dormitories across the country right here on one site.</p>
        <p style="margin-bottom: 20px;">Why spend hours browsing through multiple websites when you can find everything you need in one place? Whether you're a local student or an international student studying in Turkey, Dormitory Finder simplifies the process of finding your ideal dormitory.</p>
        <p style="margin-bottom: 20px;">At Dormitory Finder, we understand that every student has unique preferences and needs when it comes to accommodation. That's why our platform offers a comprehensive range of options to suit every lifestyle and budget. From cozy dorms in the heart of bustling cities to serene accommodations nestled in picturesque towns, you'll find it all on Dormitory Finder.</p>
        <p style="margin-bottom: 20px;">With just a few clicks, you can explore dormitories with a variety of amenities such as Wi-Fi, laundry facilities, study areas, and more. Our advanced search filters allow you to narrow down your options based on your preferences, ensuring that you find the perfect match for your needs.</p>
        <p>But that's not all - Dormitory Finder goes beyond just listings. We believe in giving you a complete picture of your potential new home. That's why we offer virtual tours of select dormitories, so you can explore every corner and get a feel for the space before making a decision.</p>
    </div>
</body>
{% endblock %}


