{% extends "base.html " %}
{% block title %}Book Dorm{% endblock %}
{% block content %}
<div >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashed-messages">
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>

    <p>Your application has been approved, and the dorm owner will contact you soon.</p>
{% endblock %}
